/*----------------------------------------
//  progress bar
//----------------------------------------*/

#topBars {
    /*text-align:center;*/
}

#progressBarContainer {
  width: 100%;
  background-color: #ddd;
  margin: 5px 0px;
}

#progressBar {
  width: 0%;
  height: 18px;
  background-color: #4CAF50;
  text-align: center;
  line-height: 15px;
  color: white;
}

#healthBar {
  width: 0%;
  height: 15px;
  background-color: #96806d;
  text-align: center;
  line-height: 15px;
  color: white;
}

#manaBar {
  width: 0%;
  height: 15px;
  background-color: #4c90af;
  text-align: center;
  line-height: 15px;
  color: white;
}

#heathTextBar {
    z-index: 100;
    position: absolute;
    color: white;
    left: 115px;
    top: 7px;
}

#manaTextBar {
    z-index: 100;
    position: absolute;
    color: white;
    left: 115px;
    top: 27px;
}